In [1]:
from sportsref import euro

Regenerating PSFConstants file
Regenerating GPFConstants file

In [2]:
t = euro.Team('barcelona')

In [ ]:
i = t.get_league_id()
name = t.name()

In [4]:
print(i)
print(name)

spain-liga-acb
FC Barcelona

## Tables are same as player: 

### 'E' = Euroleague
### 'C' = Club play
### 'B' = both (combined in 1 table, not concatenated together like playoff/reg season tables)

## all team and opp stats table:

In [ ]:
df = t.all_team_opp_stats(2017, level = 'B')

In [6]:
df.head()

,team_id,g,mp,fg,fga,fg_pct,fg3,fg3a,fg3_pct,fg2,...,ft_pct,orb,drb,trb,ast,stl,blk,tov,pf,pts
0,Team,62.0,13100.0,1795.0,3812.0,0.471,586.0,1579.0,0.371,1209.0,...,0.744,515.0,1510.0,2025.0,1084.0,437.0,140.0,884.0,1313.0,4988.0
1,Opponent,62.0,13100.0,1754.0,4013.0,0.437,584.0,1623.0,0.360,1170.0,...,0.763,573.0,1368.0,1941.0,1039.0,453.0,109.0,779.0,1318.0,4897.0

In [ ]:
df = t.all_team_opp_stats(2017, level = 'E')

In [8]:
df.head()

,team_id,g,mp,fg,fga,fg_pct,fg3,fg3a,fg3_pct,fg2,...,ft_pct,orb,drb,trb,ast,stl,blk,tov,pf,pts
0,Team,30.0,6025.0,767.0,1739.0,0.441,271.0,716.0,0.378,496.0,...,0.737,245.0,680.0,925.0,517.0,212.0,61.0,420.0,553.0,2141.0
1,Opponent,30.0,6025.0,834.0,1844.0,0.452,263.0,729.0,0.361,571.0,...,0.748,254.0,659.0,913.0,510.0,232.0,65.0,357.0,599.0,2242.0

In [ ]:
df = t.all_team_opp_stats(2017, level = 'C')

In [10]:
df.head()

,team_id,g,mp,fg,fga,fg_pct,fg3,fg3a,fg3_pct,fg2,...,ft_pct,orb,drb,trb,ast,stl,blk,tov,pf,pts
0,Team,32.0,7075.0,1028.0,2073.0,0.496,315.0,863.0,0.365,713.0,...,0.748,270.0,830.0,1100.0,567.0,225.0,79.0,464.0,760.0,2847.0
1,Opponent,32.0,7075.0,920.0,2169.0,0.424,321.0,894.0,0.359,599.0,...,0.773,319.0,709.0,1028.0,529.0,221.0,44.0,422.0,719.0,2655.0

## per game table

In [ ]:
df = t.stats_per_game(2017, level='B')

In [12]:
df.head()

,player_id,g,gs,mp_per_g,fg_per_g,fga_per_g,fg_pct,fg3_per_g,fg3a_per_g,fg3_pct,...,orb_per_g,drb_per_g,trb_per_g,ast_per_g,stl_per_g,blk_per_g,tov_per_g,pf_per_g,pts_per_g,player_name
0,tyrese-rice-1,61.0,NaN,27.5,4.2,10.8,0.390,1.6,5.2,0.307,...,0.2,1.3,1.6,4.1,1.0,0.1,2.5,2.3,12.3,Tyrese Rice
1,ante-tomic-1,61.0,NaN,22.4,4.3,7.3,0.590,0.0,0.0,0.333,...,2.1,4.8,6.9,2.0,0.6,0.6,1.6,2.2,10.8,Ante Tomic
2,petteri-koponen-1,54.0,NaN,22.1,3.1,7.2,0.436,1.6,3.8,0.417,...,0.3,1.7,1.9,2.1,0.7,0.1,1.3,1.9,9.4,Petteri Koponen
3,victor-claver-1,56.0,NaN,21.2,2.0,4.3,0.471,0.9,2.2,0.395,...,0.8,3.4,4.3,1.2,0.9,0.4,1.3,2.0,5.5,Victor Claver
4,aleksandar-vezenkov-1,62.0,NaN,18.6,3.0,5.5,0.553,1.1,2.7,0.420,...,0.9,2.3,3.2,1.0,0.6,0.2,0.7,1.9,8.3,Aleksandar Vezenkov

In [ ]:
df = t.stats_per_game(2017, level='E')

In [14]:
df.head()

,player_id,g,gs,mp_per_g,fg_per_g,fga_per_g,fg_pct,fg3_per_g,fg3a_per_g,fg3_pct,...,orb_per_g,drb_per_g,trb_per_g,ast_per_g,stl_per_g,blk_per_g,tov_per_g,pf_per_g,pts_per_g,player_name
0,tyrese-rice-1,30.0,NaN,29.6,4.6,12.1,0.376,1.8,5.7,0.320,...,0.3,1.4,1.6,4.9,1.1,0.1,2.6,2.1,13.0,Tyrese Rice
1,ante-tomic-1,29.0,NaN,21.8,3.6,6.9,0.525,0.0,0.0,0.000,...,2.2,3.7,5.9,2.0,0.6,0.7,1.9,2.1,8.8,Ante Tomic
2,petteri-koponen-1,27.0,NaN,22.6,3.3,7.6,0.429,2.0,4.4,0.462,...,0.2,1.5,1.7,1.9,0.7,0.0,1.3,1.9,10.1,Petteri Koponen
3,victor-claver-1,27.0,NaN,22.0,2.1,4.5,0.459,0.9,2.3,0.377,...,0.9,3.5,4.4,1.3,0.9,0.3,1.2,1.7,6.0,Victor Claver
4,aleksandar-vezenkov-1,30.0,NaN,18.4,2.7,4.7,0.577,1.1,2.4,0.479,...,0.8,2.4,3.2,1.1,0.7,0.2,0.6,1.5,7.5,Aleksandar Vezenkov

In [ ]:
df = t.stats_per_game(2017, level='C')

In [16]:
df.head()

,player_id,g,gs,mp_per_g,fg_per_g,fga_per_g,fg_pct,fg3_per_g,fg3a_per_g,fg3_pct,...,orb_per_g,drb_per_g,trb_per_g,ast_per_g,stl_per_g,blk_per_g,tov_per_g,pf_per_g,pts_per_g,player_name
0,tyrese-rice-1,31.0,30.0,25.5,3.8,9.5,0.406,1.4,4.7,0.293,...,0.2,1.3,1.5,3.4,0.8,0.0,2.4,2.5,11.6,Tyrese Rice
1,ante-tomic-1,32.0,27.0,22.9,4.9,7.6,0.643,0.0,0.1,0.500,...,2.0,5.8,7.9,2.1,0.6,0.5,1.3,2.3,12.7,Ante Tomic
2,aleksandar-vezenkov-1,32.0,6.0,18.9,3.3,6.1,0.536,1.2,3.1,0.378,...,0.9,2.2,3.2,0.8,0.5,0.3,0.8,2.2,9.0,Aleksandar Vezenkov
3,brad-oleson-1,29.0,20.0,20.8,2.4,4.4,0.547,1.2,2.6,0.453,...,0.6,1.2,1.8,1.7,0.6,0.1,1.1,1.6,7.0,Brad Oleson
4,victor-claver-1,29.0,23.0,20.4,1.9,4.0,0.483,0.9,2.2,0.413,...,0.8,3.3,4.1,1.2,0.9,0.6,1.4,2.3,5.0,Victor Claver

## totals table

In [ ]:
df = t.stats_totals(2017, level='B')

In [18]:
df.head()

,player_id,g,gs,mp,fg,fga,fg_pct,fg3,fg3a,fg3_pct,...,orb,drb,trb,ast,stl,blk,tov,pf,pts,player_name
0,tyrese-rice-1,61.0,NaN,1680.0,256.0,657.0,0.390,98.0,319.0,0.307,...,15.0,80.0,95.0,252.0,58.0,4.0,151.0,142.0,750.0,Tyrese Rice
1,ante-tomic-1,61.0,NaN,1367.0,262.0,444.0,0.590,1.0,3.0,0.333,...,128.0,295.0,423.0,124.0,35.0,36.0,99.0,135.0,661.0,Ante Tomic
2,petteri-koponen-1,54.0,NaN,1196.0,169.0,388.0,0.436,85.0,204.0,0.417,...,15.0,90.0,105.0,112.0,39.0,3.0,71.0,100.0,509.0,Petteri Koponen
3,victor-claver-1,56.0,NaN,1187.0,112.0,238.0,0.471,49.0,124.0,0.395,...,46.0,192.0,238.0,69.0,51.0,24.0,74.0,111.0,309.0,Victor Claver
4,aleksandar-vezenkov-1,62.0,NaN,1156.0,187.0,338.0,0.553,71.0,169.0,0.420,...,55.0,143.0,198.0,61.0,37.0,15.0,45.0,115.0,513.0,Aleksandar Vezenkov

In [ ]:
df = t.stats_totals(2017, level='E')

In [20]:
df.head()

,player_id,g,gs,mp,fg,fga,fg_pct,fg3,fg3a,fg3_pct,...,orb,drb,trb,ast,stl,blk,tov,pf,pts,player_name
0,tyrese-rice-1,30.0,NaN,889.0,137.0,364.0,0.376,55.0,172.0,0.320,...,8.0,41.0,49.0,146.0,34.0,3.0,77.0,63.0,389.0,Tyrese Rice
1,ante-tomic-1,29.0,NaN,633.0,105.0,200.0,0.525,0.0,1.0,0.000,...,63.0,108.0,171.0,58.0,17.0,20.0,56.0,62.0,256.0,Ante Tomic
2,petteri-koponen-1,27.0,NaN,610.0,88.0,205.0,0.429,55.0,119.0,0.462,...,5.0,41.0,46.0,51.0,20.0,0.0,36.0,52.0,274.0,Petteri Koponen
3,victor-claver-1,27.0,NaN,594.0,56.0,122.0,0.459,23.0,61.0,0.377,...,23.0,95.0,118.0,34.0,25.0,8.0,33.0,45.0,163.0,Victor Claver
4,aleksandar-vezenkov-1,30.0,NaN,552.0,82.0,142.0,0.577,34.0,71.0,0.479,...,25.0,72.0,97.0,34.0,20.0,6.0,19.0,46.0,226.0,Aleksandar Vezenkov

In [ ]:
df = t.stats_totals(2017, level='C')

In [22]:
df.head()

,player_id,g,gs,mp,fg,fga,fg_pct,fg3,fg3a,fg3_pct,...,orb,drb,trb,ast,stl,blk,tov,pf,pts,player_name
0,tyrese-rice-1,31.0,30.0,791.0,119.0,293.0,0.406,43.0,147.0,0.293,...,7.0,39.0,46.0,106.0,24.0,1.0,74.0,79.0,361.0,Tyrese Rice
1,ante-tomic-1,32.0,27.0,734.0,157.0,244.0,0.643,1.0,2.0,0.500,...,65.0,187.0,252.0,66.0,18.0,16.0,43.0,73.0,405.0,Ante Tomic
2,aleksandar-vezenkov-1,32.0,6.0,604.0,105.0,196.0,0.536,37.0,98.0,0.378,...,30.0,71.0,101.0,27.0,17.0,9.0,26.0,69.0,287.0,Aleksandar Vezenkov
3,brad-oleson-1,29.0,20.0,603.0,70.0,128.0,0.547,34.0,75.0,0.453,...,17.0,36.0,53.0,49.0,18.0,4.0,31.0,47.0,202.0,Brad Oleson
4,victor-claver-1,29.0,23.0,593.0,56.0,116.0,0.483,26.0,63.0,0.413,...,23.0,97.0,120.0,35.0,26.0,16.0,41.0,66.0,146.0,Victor Claver

## per36 table

In [ ]:
df = t.stats_per36(2017, level='B')

In [24]:
df.head()

,player_id,g,gs,mp,fg_per_mp,fga_per_mp,fg_pct,fg3_per_mp,fg3a_per_mp,fg3_pct,...,orb_per_mp,drb_per_mp,trb_per_mp,ast_per_mp,stl_per_mp,blk_per_mp,tov_per_mp,pf_per_mp,pts_per_mp,player_name
0,tyrese-rice-1,61.0,NaN,1680.0,5.5,14.1,0.390,2.1,6.8,0.307,...,0.3,1.7,2.0,5.4,1.2,0.1,3.2,3.0,16.1,Tyrese Rice
1,ante-tomic-1,61.0,NaN,1367.0,6.9,11.7,0.590,0.0,0.1,0.333,...,3.4,7.8,11.1,3.3,0.9,0.9,2.6,3.6,17.4,Ante Tomic
2,petteri-koponen-1,54.0,NaN,1196.0,5.1,11.7,0.436,2.6,6.1,0.417,...,0.5,2.7,3.2,3.4,1.2,0.1,2.1,3.0,15.3,Petteri Koponen
3,victor-claver-1,56.0,NaN,1187.0,3.4,7.2,0.471,1.5,3.8,0.395,...,1.4,5.8,7.2,2.1,1.5,0.7,2.2,3.4,9.4,Victor Claver
4,aleksandar-vezenkov-1,62.0,NaN,1156.0,5.8,10.5,0.553,2.2,5.3,0.420,...,1.7,4.5,6.2,1.9,1.2,0.5,1.4,3.6,16.0,Aleksandar Vezenkov

In [ ]:
df = t.stats_per36(2017, level='E')

In [26]:
df.head()

,player_id,g,gs,mp,fg_per_mp,fga_per_mp,fg_pct,fg3_per_mp,fg3a_per_mp,fg3_pct,...,orb_per_mp,drb_per_mp,trb_per_mp,ast_per_mp,stl_per_mp,blk_per_mp,tov_per_mp,pf_per_mp,pts_per_mp,player_name
0,tyrese-rice-1,30.0,NaN,889.0,5.5,14.7,0.376,2.2,7.0,0.320,...,0.3,1.7,2.0,5.9,1.4,0.1,3.1,2.6,15.8,Tyrese Rice
1,ante-tomic-1,29.0,NaN,633.0,6.0,11.4,0.525,0.0,0.1,0.000,...,3.6,6.1,9.7,3.3,1.0,1.1,3.2,3.5,14.6,Ante Tomic
2,petteri-koponen-1,27.0,NaN,610.0,5.2,12.1,0.429,3.2,7.0,0.462,...,0.3,2.4,2.7,3.0,1.2,0.0,2.1,3.1,16.2,Petteri Koponen
3,victor-claver-1,27.0,NaN,594.0,3.4,7.4,0.459,1.4,3.7,0.377,...,1.4,5.8,7.2,2.1,1.5,0.5,2.0,2.7,9.9,Victor Claver
4,aleksandar-vezenkov-1,30.0,NaN,552.0,5.3,9.3,0.577,2.2,4.6,0.479,...,1.6,4.7,6.3,2.2,1.3,0.4,1.2,3.0,14.7,Aleksandar Vezenkov

In [ ]:
df = t.stats_per36(2017, level='C')

In [28]:
df.head()

,player_id,g,gs,mp,fg_per_mp,fga_per_mp,fg_pct,fg3_per_mp,fg3a_per_mp,fg3_pct,...,orb_per_mp,drb_per_mp,trb_per_mp,ast_per_mp,stl_per_mp,blk_per_mp,tov_per_mp,pf_per_mp,pts_per_mp,player_name
0,tyrese-rice-1,31.0,30.0,791.0,5.4,13.3,0.406,2.0,6.7,0.293,...,0.3,1.8,2.1,4.8,1.1,0.0,3.4,3.6,16.4,Tyrese Rice
1,ante-tomic-1,32.0,27.0,734.0,7.7,12.0,0.643,0.0,0.1,0.500,...,3.2,9.2,12.4,3.2,0.9,0.8,2.1,3.6,19.9,Ante Tomic
2,aleksandar-vezenkov-1,32.0,6.0,604.0,6.3,11.7,0.536,2.2,5.8,0.378,...,1.8,4.2,6.0,1.6,1.0,0.5,1.5,4.1,17.1,Aleksandar Vezenkov
3,brad-oleson-1,29.0,20.0,603.0,4.2,7.6,0.547,2.0,4.5,0.453,...,1.0,2.1,3.2,2.9,1.1,0.2,1.9,2.8,12.1,Brad Oleson
4,victor-claver-1,29.0,23.0,593.0,3.4,7.0,0.483,1.6,3.8,0.413,...,1.4,5.9,7.3,2.1,1.6,1.0,2.5,4.0,8.9,Victor Claver

## Advanced stats table

In [ ]:
df = t.stats_advanced(2017, level='B')

In [30]:
df.head()

,player_id,g,mp,ts_pct,efg_pct,fg3a_per_fga_pct,fta_per_fga_pct,ast_pct,tov_pct,usg_pct,player_name
0,tyrese-rice-1,61.0,1680.0,0.511,NaN,0.486,0.265,31.0,17.1,26.9,Tyrese Rice
1,ante-tomic-1,61.0,1367.0,0.605,NaN,0.007,0.525,20.4,15.3,24.1,Ante Tomic
2,petteri-koponen-1,54.0,1196.0,0.593,NaN,0.526,0.242,18.9,14.2,21.4,Petteri Koponen
3,victor-claver-1,56.0,1187.0,0.594,NaN,0.521,0.210,10.7,22.2,14.4,Victor Claver
4,aleksandar-vezenkov-1,62.0,1156.0,0.686,NaN,0.500,0.240,11.1,10.7,18.5,Aleksandar Vezenkov

In [ ]:
df = t.stats_advanced(2017, level='E')

In [32]:
df.head()

,player_id,g,mp,ts_pct,efg_pct,fg3a_per_fga_pct,fta_per_fga_pct,ast_pct,tov_pct,usg_pct,player_name
0,tyrese-rice-1,30.0,889.0,0.491,0.452,0.473,0.201,34.0,16.3,27.2,Tyrese Rice
1,ante-tomic-1,29.0,633.0,0.531,0.525,0.005,0.465,19.5,18.9,24.0,Ante Tomic
2,petteri-koponen-1,27.0,610.0,0.607,0.563,0.580,0.229,17.0,13.8,21.9,Petteri Koponen
3,victor-claver-1,27.0,594.0,0.591,0.553,0.500,0.295,10.6,19.3,14.7,Victor Claver
4,aleksandar-vezenkov-1,30.0,552.0,0.722,0.697,0.500,0.232,12.6,10.8,16.2,Aleksandar Vezenkov

In [ ]:
df = t.stats_advanced(2017, level='C')

In [34]:
df.head()

,player_id,g,mp,ts_pct,efg_pct,fg3a_per_fga_pct,fta_per_fga_pct,ast_pct,tov_pct,usg_pct,player_name
0,tyrese-rice-1,31.0,791.0,0.535,0.480,0.502,0.345,27.6,18.0,26.6,Tyrese Rice
1,ante-tomic-1,32.0,734.0,0.663,0.645,0.008,0.574,21.3,12.3,24.3,Ante Tomic
2,aleksandar-vezenkov-1,32.0,604.0,0.661,0.630,0.500,0.245,9.7,10.7,20.6,Aleksandar Vezenkov
3,brad-oleson-1,29.0,603.0,0.711,0.680,0.586,0.250,15.6,17.9,14.7,Brad Oleson
4,victor-claver-1,29.0,593.0,0.598,0.595,0.543,0.121,10.9,25.1,14.1,Victor Claver